<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student-Course-Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/stylesheets/bootstrap.min.css">
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
  <link rel="stylesheet" href="/assets/stylesheets/styles.css">
</head>
<body>
<% include ./header %>
<div class="container-fluid text-center">    
  <div class="row content">
    <% include ./navigation %>
    <div class="col-sm-8 text-left"> 
      <br><br>
      <h1 class="center">Students List</h1>
      <br><br>
      <table class="table center" >

          <thead>
            <th class="center">Student ID</th>
            <th class="center"> First Name</th>
            <th class="center">Last Name</th>
          </thead>
          <% students.forEach(student =>{ %>
            <tr>
                <td><a href="/student/<%= student.studentId %>"><%= student.studentId %></a></td>
                <td><a href="/student/<%= student.studentId %>"><%= student.fName %></a></td>
                <td><a href="/student/<%= student.studentId %>"><%= student.lName %></a></td>
                <td>                                      
                    <button class="btn btn-primary" onclick="deleteStudent(<%= student.studentId %>)">Delete</button>                  
                </td>
            </tr> 
          <% }) %>
      </table>
      <form action="/newStudentForm" class="center">
        <button class="btn btn-primary center" type="submit">Add New Student</button>
      </form>
      <hr>
    </div>
  </div>
</div>

<script>

  const deleteStudent = function(studentId){
    let deleteUrl = 'http://68.183.144.13:8080/student/'+studentId;
    $.ajax({
      url: deleteUrl,
      contentType: "application/json",
      dataType: 'json',
      type: 'DELETE',
      success: function(result){
        console.log(result+'cgvbj'); 
        window.location.href = result.request.url;
      }
    })
  }



</script>
<!--<script>
    $(document).ready(function () {
        var api_url = 'http://68.183.144.13:8080/students'
        $.ajax({
            url: api_url,
            contentType: "application/json",
            dataType: 'json',
            success: function (result) {
                console.log(result);
                result['students'].forEach(element => {
                    $("#table-heading").after("<tr> <a href='" + element.request.url + "'><td>" + element.studentId + "</td>"
                        + "<td>" + element.fName + "</td>" +
                        "<td>" + element.lName + "</td></a></tr>")
                });
            }
        })
    });
</script>-->
</body>
</html>

